		<!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="container">
                Disclaimer: This is not investment advice. All information on this site is intended for educational purposes only. 
                We are not liable for any potential damages that may be incurred from this information. Always consult a licensed financial professional before investing.
            </div>
            <div class="copyright">
                &copy; SouthEast Annuities | All rights reserved.
            </div>
        </footer>

    <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

</body>
</html>