<!DOCTYPE HTML>
<html>
	<head>
		<title>${title}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="/css/main.css" />
		
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/"><img src="/images/headerlogo.svg"></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/category/annuities">Annuities</a></li>
					<li><a href="/category/ira-401k">IRA | 401(K)</a></li>
					<li><a href="/category/retirement">Retirement</a></li>
					<li><a href="/category/investments">Investments</a></li>
					
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Sed amet nulla</p>
						<h2>Elements</h2>
					</header>
				</div>
			</section>