${header}
        <!-- Main -->
  
        <div id="main" class="container">
         
					<div class="row 200%">
						<div class="6u 12u$(medium)">
                            <header>
                                <h2>The 5 Best Places To Retire on The Beach in 2020</h2>
                            </header>
                            
                            
                            <h3>These overseas retirement spots have water views and an affordable cost of living.</h3>
                            <p>
                                A beach retirement costs much less if you are willing to move overseas.
                            </p>

                            <p>
                                Perhaps the most common retire-overseas daydream is a new life at the beach. Mountain lifestyles and city 
                                living can be great options, but the promise of a beachfront retirement draws many people abroad. If you, like so 
                                many others, dream of a coastal retirement, here are five of your best choices.
                            </p>
                          
							<p>
                                <strong>1. Playas, Ecuador.</strong> Thanks to its tucked-away position in the Gulf of Guayaquil, which protects it from the open Pacific 
                                and the cold waters of the Humboldt Current, the waters at Playas are warm and calm year-round. The area boasts 320 days of 
                                sunshine annually (again thanks to its position in the gulf). This is an important distinction along Ecuador’s coast, most of 
                                which is overcast for a good portion of each year.
                            </p>

                            <p>
                                In addition, Playas is Ecuador’s most accessible beach, just 60 miles from the airport in Guayaquil. The drive takes about an hour 
                                and 15 minutes. Other beaches in Ecuador can be as much as a six-hour drive from the international airports.
                            </p>
                               
                            <p>
                                Playas is a low-key, relaxed spot with the character and charm of a fishing village. The small fishing fleet that operates along 
                                this stretch of coast blends with the beach resort community to create a unique beach experience that is both homey and culturally 
                                rich. Fresh seafood is abundant and a bargain.
                            </p>
                            
                            <p>
                                The cost of real estate is also affordable. A two-bedroom beachfront home in a private community can cost as little as $139,000.
                            </p>

                            <p>
                                But qualified withdrawals from Roth accounts are tax-free. So if you also have some savings in a Roth 401(k) or Roth IRA, 
                                that money wouldn’t be hit by the higher tax on ordinary income. Similarly, tax-free withdrawals from Roth accounts don’t 
                                count in determining whether any of your Social Security benefits are taxable. So a Roth may be able to give you some wiggle 
                                room on that score as well.
                            </p>
                            
                            <p>
                                <strong>2. Viña del Mar, Chile.</strong> Viña del Mar came into its own as a resort in the 1920s. Today, it’s Chile’s most popular 
                                seaside destination, drawing people from around the country as well as a large number of international visitors.
                            </p>
                            <p>
                                Despite its latitude, the weather in Viña del Mar is comfortable all year, thanks to the Pacific Ocean’s modifying 
                                influence on temperatures. The Humboldt Current keeps summertime temperatures cool and winter temperatures moderate.
                            </p>
                            <p>
                                The beaches at Viña del Mar are not only beautiful but also adjacent to a city, meaning that, retired here, you could 
                                enjoy the benefits of both beach and cosmopolitan lifestyles. Along the seafront are restaurants, clubs, cafés and the 
                                stately municipal casino. Just a few blocks inland, the city of Viña del Mar, with its population of 300,000, offers shopping centers, theater, an orchestra and administrative services. What’s more, Valparaíso is just a few minutes away with even more big-city entertainment and services.
                            </p>
                            <p>
                                At the current exchange rate between the U.S. dollar and the Chilean peso, you can own a two-bedroom condo in a full-amenity building 
                                with an ocean view for less than $200,000.
                            </p>

                            <p>
                                <strong>3. Santa Marta, Colombia.</strong> Everyone has heard of Cartagena, Colombia, this country’s best known destination. However, 
                                just 150 miles up the Caribbean coast from Cartagena is another coastal city, Santa Marta, that offers sandy beaches, 
                                calm waters and excellent diving. The city also has an upbeat and energetic culture, warm weather year-round and 
                                diverse and attractive retirement lifestyle options. Cartagena is for tourists. Santa Marta is for living.
                            </p>

                            <p>
                                Santa Marta is the oldest city in Colombia. As recently as five or six years ago, its downtown was seedy and rough around the edges. 
                                However, focused efforts in the past few years have restored the colonial parks, churches and other structures. This historic zone has 
                                been reborn. Its seafront now boasts small cafes, bars, boutique hotels, excellent seafood restaurants and a cruise ship port. 
                                The long-rumored 256-slip marina is now completed and operational, and new condo projects have sprouted up nearby. South of the city, 
                                higher-end projects are being developed along tranquil sandy beaches.
                            </p>

                            <p>
                                Finally, if you’ve still got some time before you retire, finding ways to save more in 401(k)s, IRAs and other retirement accounts is 
                                always a good way to hedge against any type of uncertainty. After all, the larger the nest egg you go into retirement with, 
                                the greater the margin you’ll have to withstand the effects of higher taxes or anything else that adversely affects your retirement finances.
                            </p>
                            <p>
                                The currently strong dollar (the greenback is at an all-time high versus the Colombian peso) means you could buy in one of Santa Marta’s 
                                top neighborhoods, in a building with ocean views and direct ocean access, for as little as $125,000. 
                            </p>

                            <p>
                                <strong>4. Mazatlán, Mexico.</strong> Mazatlán is an ideal choice for your beachfront retirement. Its large and restored colonial 
                                historic center is both an appealing place to spend time and very affordable. There are 20 miles of beautiful beaches, and great 
                                options for restaurants and cafés. The atmosphere is more Mexican than many of Mexico’s coastal cities, where foreigners can dominate 
                                the culture. There’s also easy access to the United States. Mazatlán is 1.6 hours away by air or 13 hours by car.
                            </p>

        
                            <p>
                                Mazatlán’s winter weather is about as good as it gets, with comfortable days and cool nights. No air conditioning is required. In 
                                the summertime, however, it’s hot, with mid-summer temperatures hitting 90 degrees almost every day. For this reason, Mazatlán can 
                                be a great part-time retirement choice.
                            </p>

                            <p>
                                Mazatlán is a popular resort and cruise destination, which explains why it has more than its share of amenities for a 
                                city this size. Tourism also explains why so much English is spoken here. But, away from the beach, it’s also a city 
                                with a sizeable fishing fleet and an industrial base that provides a non-tourism economic diversity.

                            </p>
                            <p>
                                A bit to the south lies the town of Puerto Vallarta, which is much better known and boasts a more developed tourist 
                                infrastructure. However, Puerto Vallarta is also more expensive. It is one of the most expensive property markets in 
                                all of Mexico. If you like the idea of coastal Mexico, Mazatlán offers a much more affordable option that has already 
                                attracted many expats. The foreign retirement community here is big and growing.

                            </p>
                            <p>
                                You could own in front of Mazatlán’s best beach and boardwalk for as little as $250,000 or just outside of town on the ocean for as little as $160,000.
                            </p>
                            
                            
                            <p><strong>5. Natal, Brazil.</strong>
                            
                                Natal is noted for its miles-long crescent beach, protected by a giant dune that shelters it from the onshore winds. 
                                The adjacent waters are calm, clear, warm and shallow. The cafés, restaurants and nightlife of Natal are renowned throughout 
                                Europe and Brazil. And thanks to the weak Brazilian real, property prices are attractive.
                            </p>
                            <p>
                                Natal is billed as one of the sunniest cities in Brazil, with more than 300 days of sunshine per year. There are only a few degrees 
                                of seasonal variation in temperature, with the warmest average high temperatures coming in at about 88 degrees. Bathers here enjoy 
                                warm waters 12 months a year. Water temperatures average a comfortable 79 degrees year-round

                            </p>
                            <p>
                                One particularly appealing sector of Natal is the Ponta Negra district, which boasts a beautiful beach extending for miles, as well as a 
                                pleasant and attractive waterfront zone. Lined with restaurants, shops and nightclubs, the waterfront is busy into the wee hours every 
                                night. Then, the next morning, the beach is busy with a new crowd of strollers, sunbathers and swimmers. Some of the waterfront 
                                nightspots transform themselves into open-air seaside coffee shops at sunrise and begin each new day without ever closing their doors.
                            </p>
                            <p>
                                Natal qualifies as one of the world’s best beachfront bargains. Thanks to the current exchange rate, you could own an ocean-view apartment in Ponta Negra for as little as $85,000. 
                            </p>
                            <p><em>Original article found on <a href= "https://money.usnews.com/money/blogs/on-retirement/articles/the-3-best-places-to-retire-on-the-beach">US News</a></em></p>









                            <h2>Speak to a Pro: Compare Retirement Advisors In Your Area</h2>
                   
                            <p>
                                    Finding the right financial advisor that <a href="formlanding">fits your needs</a> doesn’t have to be hard. SEA's free tool matches you with fiduciary 
                                    financial advisors in your area in 5 minutes. Each advisor has been vetted by SouthEast Annuities and is legally bound to act in 
                                    your best interests. If you’re ready to be matched with local advisors that will help you achieve your financial goals, <a href="formlanding">get started now.</a>
                            </p>





						</div>
                        <div class="6u$ 12u$(medium)">
							<!-- Form -->
                            <div class="box shadow">
                                <div class="image fit">
                                    <img src="/images/formeheader.svg">
                                </div>
                                <div class="content">
                                    <form method="post" action="send">
                                        <div class="row uniform">
                                                    <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="concern" id="concern">
                                                                <option value=""> How concerned are you about outliving your savings? </option>
                                                                <option value="Very concerned">Very concerned</option>
                                                                <option value="Somewhat concerned">Somewhat concerned</option>
                                                                <option value="Not concerned">Not concerned</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="savings" id="savings">
                                                                <option value=""> How much money have you saved for your retirement? </option>
                                                                <option value="$0-$10,000">$0-$10,000</option>
                                                                <option value="$10,000-$25,000">$10,000-$25,000</option>
                                                                <option value="$25,000-$50,000">$25,000-$50,000</option>
                                                                <option value="$50,000-$100,000">$50,000-$100,000</option>
                                                                <option value="$100,000-$250,000">$100,000-$250,000</option>
                                                                <option value="$250,000-$500,000">$250,000-$500,000</option>
                                                                <option value="$500,000-$1 Million">$500,000-$1 Million</option>
                                                                <option value="$1 Million-$3 Million">$1 Million-$3 Million</option>
                                                                <option value="More than $3 Million">More than $3 Million</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <div class="select-wrapper">
                                                            <select name="age" id="age">
                                                                <option value=""> Year of Birth  </option>
                                                                <option value="1989">1989</option>
                                                                <option value="1988">1988</option>
                                                                <option value="1987">1987</option>
                                                                <option value="1986">1986</option>
                                                                <option value="1985">1985</option>
                                                                <option value="1984">1984</option>
                                                                <option value="1983">1983</option>
                                                                <option value="1982">1982</option>
                                                                <option value="1981">1981</option>
                                                                <option value="1980">1980</option>
                                                                <option value="1979">1979</option>
                                                                <option value="1978">1978</option>
                                                                <option value="1977">1977</option>
                                                                <option value="1976">1976</option>
                                                                <option value="1975">1975</option>
                                                                <option value="1974">1974</option>
                                                                <option value="1973">1973</option>
                                                                <option value="1972">1972</option>
                                                                <option value="1971">1971</option>
                                                                <option value="1970">1970</option>
                                                                <option value="1969">1969</option>
                                                                <option value="1968">1968</option>
                                                                <option value="1967">1967</option>
                                                                <option value="1966">1966</option>
                                                                <option value="1965">1965</option>
                                                                <option value="1964">1964</option>
                                                                <option value="1963">1963</option>
                                                                <option value="1962">1962</option>
                                                                <option value="1961">1961</option>
                                                                <option value="1960">1960</option>
                                                                <option value="1959">1959</option>
                                                                <option value="1958">1958</option>
                                                                <option value="1957">1957</option>
                                                                <option value="1956">1956</option>
                                                                <option value="1955">1955</option>
                                                                <option value="1954">1954</option>
                                                                <option value="1953">1953</option>
                                                                <option value="1952">1952</option>
                                                                <option value="1951">1951</option>
                                                                <option value="1950">1950</option>
                                                                <option value="1949">1949</option>
                                                                <option value="1948">1948</option>
                                                                <option value="1947">1947</option>
                                                                <option value="1946">1946</option>
                                                                <option value="1945">1945</option>
                                                                <option value="1944">1944</option>
                                                                <option value="1943">1943</option>
                                                                <option value="1942">1942</option>
                                                                <option value="1941">1941</option>
                                                                <option value="1940">1940</option>
                                                                <option value="1939">1939</option>
                                                                <option value="1938">1938</option>
                                                                <option value="1937">1937</option>
                                                                <option value="1936">1936</option>
                                                                <option value="1935">1935</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                    <div class="4u 12u$(small)">
                                                            <input type="text" name="zip" id="zip" value="" pattern="[0-9]{5}" placeholder="Your Zip Code" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="firstName" id="firstName" value="" placeholder="First Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="lastName" id="lastName" value="" placeholder="Last Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="tel" name="phone" id="phone" value="" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                        required />
                                                    </div>
                                                    
                                                    <div class="12u$">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Submit" /></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <footer class="align-center">
                                                    <div class="image left">
                                                        <img src="/images/secure.svg">
                                                    </div>
                                                </footer>
                                            </form>
                                </div>

								<hr />

						</div>
					</div>

			</div>
${footer}