${header}
        <!-- Main -->
  
        <div id="main" class="container">
         
					<div class="row 200%">
						<div class="6u 12u$(medium)">
                            <header>
                                <h2>PROTECT YOUR RETIREMENT FROM THE GOVERNMENT’S WHIMS</h2>
                            </header>
                            
                            
                            <p>
                                I’m worried that government policies will undermine the value of my retirement savings. I’ve worked hard for this 
                                money and I’m counting on it to keep me comfortable during retirement. What can I do to avoid being robbed by 
                                Washington? — Joyce A.
                            </p>

                            <p>
                                “Robbed” is perhaps a little strong, but I understand your trepidation. For better or worse, government policies in 
                                any number of areas can clearly affect the value of your nest egg, not to mention your retirement prospects overall.
                            </p>
                          
							<p>
                                And, of course, government spending, monetary policy, financial services regulation — all have an effect on economic growth, the 
                                level of inflation, rates of return and, hence, investment values in retirement and other accounts. Even moves by foreign 
                                governments — raising or lowering interest rates, enacting or loosening trade restrictions, tinkering with the value of their 
                                currency — ripple through the financial markets, potentially affecting your outlook for retirement.
                            </p>

                            <p>
                                In today’s world, it’s impossible to insulate yourself from the effect of government policies, both here and abroad. But you can take 
                                steps to help mitigate the effect of government actions — or at least prevent them from totally undermining your plan.
                            </p>
                               
                            <p>
                                Take taxes. You can’t dictate tax policy, but you may at least be able to hedge against future rate hikes by engaging in a bit of 
                                “tax diversification” — that is, spreading your retirement savings around so that you have money in a variety of accounts that 
                                receive different tax treatment.
                            </p>
                            
                            <p>
                                Traditional 401(k)s and IRAs hold mostly or exclusively pretax dollars that are taxed at ordinary income rates when you withdraw them. 
                                If you’ve got your entire nest egg in such accounts, a hike in ordinary income tax rates could leave you with significantly less 
                                after-tax spending cash in retirement."
                            </p>

                            <p>
                                But qualified withdrawals from Roth accounts are tax-free. So if you also have some savings in a Roth 401(k) or Roth IRA, 
                                that money wouldn’t be hit by the higher tax on ordinary income. Similarly, tax-free withdrawals from Roth accounts don’t 
                                count in determining whether any of your Social Security benefits are taxable. So a Roth may be able to give you some wiggle 
                                room on that score as well.
                            </p>
                            
                            <p>
                                You may be able to further diversify your tax exposure on money in taxable accounts by owning investments such as stock index funds 
                                and tax-managed funds that generate much of their return in the form of unrealized long-term capital gains. Such gains offer two tax 
                                advantages: they’re not taxed until you sell, and then they’re taxed at long-term capital gains rates, which are typically lower than 
                                the rates on ordinary income and short-term gains.
                            </p>
                            <p>
                                Being smart about how you withdraw money from retirement accounts may also be able to help you trim your tax tab. Generally, you’re 
                                better off taking funds from taxable accounts first, then tax-deferred 401(k)s and IRAs and finally Roths.
                            </p>
                            <p>
                                Another alternative: depositing your RMDs into a Roth IRA. You'll still have to pay income taxes on them, but the funds will 
                                be allowed to grow tax-free thereafter, and you are not obligated to take them out at any time or in any amount. The assets 
                                can be left in place, and bequeathed to survivors. If you do withdraw them, they won't be taxable, provided you hold the 
                                Roth account for five years.
                            </p>
                            <p>
                                But flexibility is key.
                            </p>

                            <p>
                                For example, if taxable income from interest, dividends and withdraws of pre-tax dollars from a 401(k) or IRA are on the verge of 
                                pushing you into a higher tax bracket, you might tap a Roth account for any extra income you need that year to avoid having more 
                                income taxed at a higher rate. Conversely, if your income will be low in a given year but you’re expecting a spike in expenses 
                                (replacing a car, big medical bills, whatever) the following year, you may consider withdrawing more money in the low tax-rate year 
                                so you can withdraw less the following year and minimize the amount of money taxed at the higher rate.
                            </p>

                            <p>
                                Carefully choosing which investments go into your retirement portfolio can also provide a measure of protection against the downside 
                                of government policies. For example, if you’re concerned that long-dormant inflation might spike in the future due to the Federal 
                                Reserve’s easy monetary policy or generous government spending, you can add natural resources funds, REITs or 
                                Treasury Inflation-Protected Securities (TIPS) to your asset mix.
                            </p>

                            <p>
                                Finally, if you’ve still got some time before you retire, finding ways to save more in 401(k)s, IRAs and other retirement accounts is 
                                always a good way to hedge against any type of uncertainty. After all, the larger the nest egg you go into retirement with, 
                                the greater the margin you’ll have to withstand the effects of higher taxes or anything else that adversely affects your retirement finances.
                            </p>
                            <p>
                                You don’t want to go overboard with any of these moves. If your chances of moving into a higher tax bracket in retirement are slim, 
                                it wouldn’t make sense to plow lots of money, if any, into Roth accounts. Similarly, you wouldn’t want to give up the tax advantages 
                                of a 401(k) or IRA just to get money into a taxable account that will generate long-term capital gains. And while adding investments 
                                that can hedge against inflation or a slowdown in U.S. growth makes sense, you want to be careful you don’t end up di-worse-ifying rather 
                                then diversifying. 
                            </p>

                            <h2>
                                The Bottom Line
                            </h2>
                            <p>
                                Politicians will always change the rules. As an individual there’s little, if anything, you can do about that. 
                                But if you follow the steps I’ve outlined here and stay flexible about how you save, invest and manage your income 
                                in retirement, you can at least try to make the best of whatever rules happen to be in effect.
                            </p>
                            <p><em>Original article found on <a href= "https://money.cnn.com/2015/02/18/retirement/government-retirement-plan/"> CNN MONEY</a></em></p>









                            <h2>Speak to a Pro: Compare Retirement Advisors In Your Area</h2>
                   
                            <p>
                                    Finding the right financial advisor that <a href="formlanding">fits your needs</a> doesn’t have to be hard. SEA's free tool matches you with fiduciary 
                                    financial advisors in your area in 5 minutes. Each advisor has been vetted by SouthEast Annuities and is legally bound to act in 
                                    your best interests. If you’re ready to be matched with local advisors that will help you achieve your financial goals, <a href="formlanding">get started now.</a>
                            </p>





						</div>
                        <div class="6u$ 12u$(medium)">
							<!-- Form -->
                            <div class="box shadow">
                                <div class="image fit">
                                    <img src="/images/formeheader.svg">
                                </div>
                                <div class="content">
                                    <form method="post" action="send">
                                        <div class="row uniform">
                                                    <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="concern" id="concern">
                                                                <option value=""> How concerned are you about outliving your savings? </option>
                                                                <option value="Very concerned">Very concerned</option>
                                                                <option value="Somewhat concerned">Somewhat concerned</option>
                                                                <option value="Not concerned">Not concerned</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="savings" id="savings">
                                                                <option value=""> How much money have you saved for your retirement? </option>
                                                                <option value="$0-$10,000">$0-$10,000</option>
                                                                <option value="$10,000-$25,000">$10,000-$25,000</option>
                                                                <option value="$25,000-$50,000">$25,000-$50,000</option>
                                                                <option value="$50,000-$100,000">$50,000-$100,000</option>
                                                                <option value="$100,000-$250,000">$100,000-$250,000</option>
                                                                <option value="$250,000-$500,000">$250,000-$500,000</option>
                                                                <option value="$500,000-$1 Million">$500,000-$1 Million</option>
                                                                <option value="$1 Million-$3 Million">$1 Million-$3 Million</option>
                                                                <option value="More than $3 Million">More than $3 Million</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <div class="select-wrapper">
                                                            <select name="age" id="age">
                                                                <option value=""> Year of Birth  </option>
                                                                <option value="1989">1989</option>
                                                                <option value="1988">1988</option>
                                                                <option value="1987">1987</option>
                                                                <option value="1986">1986</option>
                                                                <option value="1985">1985</option>
                                                                <option value="1984">1984</option>
                                                                <option value="1983">1983</option>
                                                                <option value="1982">1982</option>
                                                                <option value="1981">1981</option>
                                                                <option value="1980">1980</option>
                                                                <option value="1979">1979</option>
                                                                <option value="1978">1978</option>
                                                                <option value="1977">1977</option>
                                                                <option value="1976">1976</option>
                                                                <option value="1975">1975</option>
                                                                <option value="1974">1974</option>
                                                                <option value="1973">1973</option>
                                                                <option value="1972">1972</option>
                                                                <option value="1971">1971</option>
                                                                <option value="1970">1970</option>
                                                                <option value="1969">1969</option>
                                                                <option value="1968">1968</option>
                                                                <option value="1967">1967</option>
                                                                <option value="1966">1966</option>
                                                                <option value="1965">1965</option>
                                                                <option value="1964">1964</option>
                                                                <option value="1963">1963</option>
                                                                <option value="1962">1962</option>
                                                                <option value="1961">1961</option>
                                                                <option value="1960">1960</option>
                                                                <option value="1959">1959</option>
                                                                <option value="1958">1958</option>
                                                                <option value="1957">1957</option>
                                                                <option value="1956">1956</option>
                                                                <option value="1955">1955</option>
                                                                <option value="1954">1954</option>
                                                                <option value="1953">1953</option>
                                                                <option value="1952">1952</option>
                                                                <option value="1951">1951</option>
                                                                <option value="1950">1950</option>
                                                                <option value="1949">1949</option>
                                                                <option value="1948">1948</option>
                                                                <option value="1947">1947</option>
                                                                <option value="1946">1946</option>
                                                                <option value="1945">1945</option>
                                                                <option value="1944">1944</option>
                                                                <option value="1943">1943</option>
                                                                <option value="1942">1942</option>
                                                                <option value="1941">1941</option>
                                                                <option value="1940">1940</option>
                                                                <option value="1939">1939</option>
                                                                <option value="1938">1938</option>
                                                                <option value="1937">1937</option>
                                                                <option value="1936">1936</option>
                                                                <option value="1935">1935</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                    <div class="4u 12u$(small)">
                                                            <input type="text" name="zip" id="zip" value="" pattern="[0-9]{5}" placeholder="Your Zip Code" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="firstName" id="firstName" value="" placeholder="First Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="lastName" id="lastName" value="" placeholder="Last Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="tel" name="phone" id="phone" value="" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                        required />
                                                    </div>
                                                    
                                                    <div class="12u$">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Submit" /></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <footer class="align-center">
                                                    <div class="image left">
                                                        <img src="/images/secure.svg">
                                                    </div>
                                                </footer>
                                            </form>
                                </div>

								<hr />

						</div>
					</div>

			</div>
${footer}