${header}
		<!-- Main -->
			<div id="main" class="container">
					<div class="row 200%">
						<div class="6u 12u$(medium)">
								<header>
									<h2>
                                        Watch Out for These Retirement Gotchas</h2>
									<p>Find out how to protect your retirement plan and savings against these hidden costs, important deadlines, and financial traps.</p>
                                </header>
                            
                                <p>
                                    From high fees buried in hundreds of pages of fine print to important tax deadlines that sneak up on you, retirement planning 
                                    is full of surprises for people who are unprepared. Make sure you’re aware of the potholes along the road to retirement so that 
                                    you can navigate the process with fewer headaches. Here are some of the retirement planning traps to look out for and how to avoid them.
                                </p>

                                <h3>Missing an important tax deadline for your IRA</h3>

                                <p>
                                    There’s nothing more annoying than sitting down to file your taxes only to realize that you’ve missed the tax deadline to contribute to your 
                                    individual retirement account. Many people make the common mistake of waiting until the last minute to make contributions to their IRAs, 
                                    and they might not realize that it can cost them a whole year of contributions.
                                </p>

                                <p>This trap can be avoided by setting up an automated payment schedule in order to reach the maximum contribution amount by the 
                                    end of the year. This method also alleviates the magnitude of this contribution: Rather than paying a lump sum of thousands of 
                                    dollars at the end of tax season, you could opt for putting in a couple of hundred dollars every few months and still make the deadline. 
                                    You have until April 15 to make your previous year’s contribution. For example, you have until April 15, 2016 to make your 2015 
                                    contributions, according to the IRS.</p>
                               
                                <h3>Not spotting hidden 401k fees</h3>
                                <p>
                                    With no shortage of retirement plans that claim to be “no load” while burying their fees under 20 pages of fine print, 
                                    many people think of their 401ks basically as free investment vehicles if they’re only paying attention to their returns. However, 
                                    expense ratios of mutual fund companies run from 0.5 percent to 2 percent. And because the fees are typically deducted from gains or 
                                    added to losses listed on statements, they can be easily missed.
                                </p>

                                <p>
                                    This retirement “gotcha” can be a costly oversight. Smaller fees like 0.5 percent are generally considered reasonable, but if 
                                    fees run over 1 percent, the difference in money loss over the span of a career can be astonishing because these fees deduct 
                                    money that can no longer increase the return. Depending on the percentage, the expense ratio can chip away up to a third of a 
                                    person’s retirement, especially if the investment has a bad year.
                                </p>
                         
								<p>
                                    Annuities typically come with surrender charges, the amount of which depends on the insurance company you buy 
                                    the annuity through, as well when you begin to withdraw funds. These charges resemble redemption fees that some 
                                    mutual fund companies charge.
                                </p>

                                <p>
                                    The U.S. Department of Labor offers this example: Returns on a 401k account balance of $35,000 over 35 years averaging a 7% 
                                    growth rate with a fee of 0.5 percent can grow to $227,000. If the fees and expenses are 1.5 percent, however, the account balance 
                                    would only grow to $163,000, which means that a 1% different in the expense ratio would reduce the account balance at the time of 
                                    retirement by 28%.
                                </p>

								<p>
                                    When setting up your 401k, look through the fine print carefully and make note of the expense ratio. If you can find a 
                                    retirement account with a lower expense ratio, you might want to switch.
                                </p>

								<h3>Paying high advisor fees</h3>
								<p>
                                    Like mutual funds that can carry surprisingly high expense ratios, some financial advisors charge high fees, and they don’t always make those 
                                    fees easy to understand or identify. Sometimes it’s a percentage fee, and sometimes it’s in basis points, which imagines each percent 
                                    as 100 basis points or a fraction of a percent.
                                 </p>

                                
								<p>
                                    In any form, financial advisor fees can add up to hundreds of dollars per year. Additionally, the financial advisor 
                                    could be reinvesting the money into other actively managed funds with their own hidden fees, which can further eat away at 
                                    the investor’s returns.
                                </p>

                                <p>
                                    Research your options when it comes to finding a financial advisor. You can opt for a lower-cost online advisor, 
                                    which can cut those fees to 0.25%, for example, or find financial advisors who charge by the hour, which can be easier to track.
                                </p>
                                <h3>
                                    Not spotting hidden costs of annuities
                                </h3>

                                <p>
                                    An annuity is a form of insurance built into a 401k that invests the account holder’s money and, in return, pays out a 
                                    steady income either in the future or right away. Retirement annuities, which are becoming increasingly more common, offer 
                                    tax advantages that appeal to many people — these investments grow tax-deferred savings and are not taxed upon contribution. 
                                    They also do not have an annual contribution limit, unlike regular IRAs and 401ks, which is useful for people who are close 
                                    to retirement age and need to catch up.
                                </p>

                                <p>
                                    You risk losing some of your investment – comparable to your risk when you invest in other assets such as stocks, 
                                    bonds, mutual funds and exchange-traded funds – as no federal agency comparable to the Federal Deposit Insurance 
                                    Corp. (FDIC) ensures your principal.
                                </p>
                                <p>
                                    When it comes to setting up an annuity contract, however, people should be aware of the notoriously high fees. Most annuities 
                                    are sold by insurance brokers who collect steep commissions. Fees can range from 3%, according to CNBC, to as much as 6 percent, 
                                    according to Time Money.
                                </p>
                                <p>
                                    If the annuity holder decides to pull money out within the first year, he can be subject to a surrender charge of 
                                    anywhere from 7% to 10%, according to Investopedia. Additional fees can include an insurance rider, administrative fees, 
                                    a mortality and expense risk charge, underlying fund expenses, and fees for special add-on features, such as a stepped-up 
                                    death benefit or guaranteed minimum income benefit, according to the Securities and Exchange Commission’s website.
                                </p>
                                <p>
                                    When it comes to purchasing an annuity, it’s worth considering whether you can afford paying so much in annual fees when 
                                    regular mutual fund fees total an average of less than 2%.
                                </p>

                                <h3>Before You Invest</h3>

                                <p>
                                    Not everyone can pay off a mortgage by retirement, and if you can’t, you need to consider the cost of your mortgage payment plus 
                                    property taxes, homeowners insurance and all those random repair costs when things go wrong. Facing these and other financial 
                                    concerns, some retirees who considered themselves cash poor but “house rich” turned to reverse mortgages. But reverse mortgages are 
                                    only suitable for people in specific circumstances and should be used carefully and strategically, so consulting a mortgage or financial 
                                    advisor before proceeding is a good idea.
                                </p>
                                <p>
                                    Because about 10% of reverse mortgage homeowners were going into technical default and falling behind on property taxes, the 
                                    U.S. Department of Housing and Urban Development increased measures at the end of 2014 to protect consumers applying for the Home 
                                    Equity Conversion Mortgage program, the reverse mortgage program making up about 95 percent of the market, according to Forbes. 
                                    Make sure you’re only tapping your home equity in a way that doesn’t jeopardize your homeownership status and that makes sense for 
                                    your overall retirement plan.   
                                </p>
                                <h3>
                                    Getting suckered into a timeshare scam
                                </h3>
                                <p>
                                    Whether your retirement plan includes downsizing to a smaller home or moving to a senior community, you need to watch out for 
                                    housing pitfalls like high homeowners association fees and timeshare traps that target retirees. Any home purchase should be 
                                    thoroughly researched, but people planning out their retirements on fixed incomes need to be particularly cautious of 55-and-over 
                                    communities and timeshare opportunities that sound too good to be true.  
                                </p>
                                <p>
                                    Timeshare companies use high-pressure sales tactics to convince people to buy properties that typically come with annual 
                                    maintenance fees and blackout dates on when the part-owners can visit. Many of them rapidly depreciate and are difficult to resell.  
                                </p>
                                <p>
                                    A common scam in recent years that targeted senior citizens in particular is when a person posing as a reseller calls the timeshare 
                                    owner saying he has a buyer or poses as the buyer and then asks the owner for an amount of money up front to process the sale, according 
                                    to a report from the California Department of Real Estate. The owners never see the money or hear from the scammer again. In legitimate sales, 
                                    commissions are paid at the time of the sale, not up front. 
                                </p>
                                <p>
                                    The tens of thousands of dollars that people invest in timeshares they are only allowed to visit a few weeks out of the year could pay for 
                                    numerous vacations across the U.S. and abroad. Don’t get trapped into a so-called dream vacation property that could become a nightmare.
                                </p>
                                <h3>
                                    Stop the gotchas before they happen
                                </h3>
                                <p>
                                    Successful retirement planning requires due diligence and being strategic so you can avoid “gotchas” that can drain your savings. 
                                    Whether your retirement is 30 years off or just around the corner, careful planning is essential. 
                                </p>
                                <p>
                                    Your retirement money and need to invest make you a target, and you will likely encounter some shady investment opportunities. 
                                    Make sure you have a trustworthy financial advisor or investment fiduciary who can help you set yourself up for a great retirement. 
                                </p>
                                <p>
                                    <em>This article is attributed to <a href="https://www.gobankingrates.com/retirement/planning/watch-out-retirement-gotchas/">GOBankingRates.com</a>.

                                    </em>
                                </p>







                                <h2>Speak to a Pro: Compare Retirement Advisors In Your Area</h2>
                                <p>
                                    Finding the right financial advisor that <a href="formlanding">fits your needs</a> doesn’t have to be hard. SEA's free tool matches you with fiduciary 
                                    financial advisors in your area in 5 minutes. Each advisor has been vetted by SouthEast Annuities and is legally bound to act in 
                                    your best interests. If you’re ready to be matched with local advisors that will help you achieve your financial goals, <a href="formlanding">get started now.</a>
                                </p>





						</div>
                        <div class="6u$ 12u$(medium)">
							<!-- Form -->
                            <div class="box shadow">
                                <div class="image fit">
                                    <img src="/images/formeheader.svg">
                                </div>
                                <div class="content">
                                    <form method="post" action="send">
                                        <div class="row uniform">
                                                    <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="concern" id="concern">
                                                                <option value=""> How concerned are you about outliving your savings? </option>
                                                                <option value="Very concerned">Very concerned</option>
                                                                <option value="Somewhat concerned">Somewhat concerned</option>
                                                                <option value="Not concerned">Not concerned</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="12u$">
                                                        <div class="select-wrapper">
                                                            <select name="savings" id="savings">
                                                                <option value=""> How much money have you saved for your retirement? </option>
                                                                <option value="$0-$10,000">$0-$10,000</option>
                                                                <option value="$10,000-$25,000">$10,000-$25,000</option>
                                                                <option value="$25,000-$50,000">$25,000-$50,000</option>
                                                                <option value="$50,000-$100,000">$50,000-$100,000</option>
                                                                <option value="$100,000-$250,000">$100,000-$250,000</option>
                                                                <option value="$250,000-$500,000">$250,000-$500,000</option>
                                                                <option value="$500,000-$1 Million">$500,000-$1 Million</option>
                                                                <option value="$1 Million-$3 Million">$1 Million-$3 Million</option>
                                                                <option value="More than $3 Million">More than $3 Million</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <div class="select-wrapper">
                                                            <select name="age" id="age">
                                                                <option value=""> Year of Birth  </option>
                                                                <option value="1989">1989</option>
                                                                <option value="1988">1988</option>
                                                                <option value="1987">1987</option>
                                                                <option value="1986">1986</option>
                                                                <option value="1985">1985</option>
                                                                <option value="1984">1984</option>
                                                                <option value="1983">1983</option>
                                                                <option value="1982">1982</option>
                                                                <option value="1981">1981</option>
                                                                <option value="1980">1980</option>
                                                                <option value="1979">1979</option>
                                                                <option value="1978">1978</option>
                                                                <option value="1977">1977</option>
                                                                <option value="1976">1976</option>
                                                                <option value="1975">1975</option>
                                                                <option value="1974">1974</option>
                                                                <option value="1973">1973</option>
                                                                <option value="1972">1972</option>
                                                                <option value="1971">1971</option>
                                                                <option value="1970">1970</option>
                                                                <option value="1969">1969</option>
                                                                <option value="1968">1968</option>
                                                                <option value="1967">1967</option>
                                                                <option value="1966">1966</option>
                                                                <option value="1965">1965</option>
                                                                <option value="1964">1964</option>
                                                                <option value="1963">1963</option>
                                                                <option value="1962">1962</option>
                                                                <option value="1961">1961</option>
                                                                <option value="1960">1960</option>
                                                                <option value="1959">1959</option>
                                                                <option value="1958">1958</option>
                                                                <option value="1957">1957</option>
                                                                <option value="1956">1956</option>
                                                                <option value="1955">1955</option>
                                                                <option value="1954">1954</option>
                                                                <option value="1953">1953</option>
                                                                <option value="1952">1952</option>
                                                                <option value="1951">1951</option>
                                                                <option value="1950">1950</option>
                                                                <option value="1949">1949</option>
                                                                <option value="1948">1948</option>
                                                                <option value="1947">1947</option>
                                                                <option value="1946">1946</option>
                                                                <option value="1945">1945</option>
                                                                <option value="1944">1944</option>
                                                                <option value="1943">1943</option>
                                                                <option value="1942">1942</option>
                                                                <option value="1941">1941</option>
                                                                <option value="1940">1940</option>
                                                                <option value="1939">1939</option>
                                                                <option value="1938">1938</option>
                                                                <option value="1937">1937</option>
                                                                <option value="1936">1936</option>
                                                                <option value="1935">1935</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                    <div class="4u 12u$(small)">
                                                            <input type="text" name="zip" id="zip" value="" pattern="[0-9]{5}" placeholder="Your Zip Code" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="firstName" id="firstName" value="" placeholder="First Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="lastName" id="lastName" value="" placeholder="Last Name" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="tel" name="phone" id="phone" value="" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                                        required />
                                                    </div>
                                                    
                                                    <div class="12u$">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Submit" /></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <footer class="align-center">
                                                    <div class="image left">
                                                        <img src="/images/secure.svg">
                                                    </div>
                                                </footer>
                                            </form>
                                </div>

								<hr />

						</div>
					</div>

			</div>
${footer}